@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Tillana:400,500,600,700,800');

body {
    font-family: "Montserrat", sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* --- Navbar --- */

.navbar {
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: rgba(245, 245, 245, 0.5);
    border-color: transparent;
}

.navbar .navbar-brand {
    font-weight: 500;
    font-size: 30px;
    color: #010101;
    text-transform: uppercase;
}

.navbar .navbar-brand:hover {
    background-color: transparent;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggler {
    background-color: transparent;
    border: 0;
}

#my-navbar .navbar-nav a {
    color: #ACACAC;
    font-weight: 300;
    text-align: right;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 0;

}

#my-navbar .navbar-nav a:hover {
    color: #010101;
    -webkit-transition: color ease-in-out 0.5s;
    -moz-transition: color ease-in-out 0.5s;
    -ms-transition: color ease-in-out 0.5s;
    -o-transition: color ease-in-out 0.5s;
    transition: color ease-in-out 0.5s;
}

.navbar-toggler span {
    color: #ACACAC;
    font-size: 27px;
}

/* --- Section 1 - Photo --- */

.photo-container {
    height: 100vh;
    background-image: url('../images/main_photo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* --- Section 2 - New album --- */

.album-container {
    background-image: url('../images/new_album_cover.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display: flex;
    align-items: flex-start;
    position: relative;
    justify-content: center;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h2 {
    color: #f5f5f5;
    font-weight: 500;
    font-family: 'Tillana', sans-serif;
}

.jumbotron .lead {
    color: #f5f5f5;
}

/* Section 3 - Buttons */

.button-container {
    height: auto;
    background-color: #010101;
    line-height: 80px;

    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}


.btn--buy {
    font-weight: 400;
    font-size: 20px;
    border-radius: 20px;
    display: inline;
    border-color: #f5f5f5;
    color: #f5f5f5;
    margin: 0 45px;
}

.btn--buy:hover {
    background-color: #ACACAC;
    border-color: #ACACAC;
    color: #010101;
    -webkit-transition: color background-color ease-in-out 0.5s;
    -moz-transition: color background-color ease-in-out 0.5s;
    -ms-transition: color background-color ease-in-out 0.5s;
    -o-transition: color background-color ease-in-out 0.5s;
    transition: color background-color ease-in-out 0.5s;

}

/* --- Footer --- */

footer {
    height: auto;
    background-color: #f5f5f5;
    color: #010101;
    margin: 0;
    min-height: 120px;
}

.social-links {
    padding-top: 15px;
}

.social-media,
.footer-end {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    padding-top: 5px;
}

.footer-end u {
    text-align: center;

}

.social-links li a i {
    width: 35px;
    height: 35px;
    padding: 10px 0;
    border-radius: 50%;
    line-height: 15px;
    font-size: 20px;
    text-align: center;
    color: #f5f5f5;
    background-color: #010101;
}

.social-links li a i:hover {
    background-color: #ACACAC;
    color: #010101;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.page-end-links {
    text-align: center;
}

.page-end-links li a,
p {
    color: #010101;
    padding: 0 20px;
}

.page-end-links li p {
    padding-top: 10px;
}

/* --- Photo Gallery --- */

.photo-column {
    padding-right: 5px;
    padding-left: 5px;
}

.img-fluid {
    padding-bottom: 10px;
}

#offset-container {
    padding-top: 10px;
    margin-top: 72px;
    background-color: #010101;
}



/* --- Contact --- */

.background-photo-container {
    height: 100vh;
    background-image: url('../images/main_photo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.background-photo {
    z-index: 1;
}

.background-photo h1 {
    color: #010101;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 50px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.5);
}

.form-container {
    padding: 0 20px;
    background-color: #010101;
}

h3 {
    text-align: center;
    margin-top: 40px;
    color: #f5f5f5;
    text-transform: uppercase;
}

.form-group {
    margin: 25px 0;
    justify-content: center;
}

.form-group input {
    margin-bottom: 6px;
    border: none;
}

#messagetext {
    width: 80%;
    margin: 0 10%;
    border: none;
}

.btn-send {
    border-radius: 25px;
    margin-bottom: 40px;
    margin-top: 15px;
    background-color: #ACACAC;
    border: none;
    text-transform: uppercase;
    font-size: 17px;
}

.btn-send:hover {
    background-color: #f5f5f5;
    color: #010101;
    -webkit-transition: color background-color ease-in-out 0.5s;
    -moz-transition: color background-color ease-in-out 0.5s;
    -ms-transition: color background-color ease-in-out 0.5s;
    -o-transition: color background-color ease-in-out 0.5s;
    transition: color background-color ease-in-out 0.5s;
}

/* --- Subscribe --- */

#subscribe-form-heading {
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    color: #f5f5f5;
}

#subscribe-consent {
    text-align: center;
    font-style: italic;
    color: #ACACAC;
    font-size: 12px;
    margin-bottom: 20px;
}

#subscribe-consent a {
    color: #ACACAC;
}

/* --- Media queries --- */

@media (max-width: 767px) {
    .navbar .navbar-brand {
        font-size: 25px;
    }

    .album-container {
        height: 100%;
        background-repeat: unset;
    }

    .jumbotron h2 {
        font-size: 140%;
    }

    .lead {
        font-size: 90%;
    }

    .btn--buy {
        background-color: transparent;
        border-color: #f5f5f5;
        color: #f5f5f5;
        display: block;
        margin: 12px auto;
        text-align: center;
        font-size: 15px;
        line-height: 25px;
        padding: 3px 0;
        width: 100%;
    }

    .page-end-links li a,
    p {
        padding: 0 auto;
    }

    #offset-container {
        margin-top: 63px;
    }

    #messagetext {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .album-container {
        height: 90%;
        background-repeat: unset;
    }

    #messagetext {
        width: 100%;
        margin: 0;
    }

}

@media (min-width: 992px) and (max-width: 1800px) {
    .album-container {
        height: 100%;
    }
}
